.App {
  text-align: center;
  border: solid rgba(0, 163, 173, 0.19);
  margin-top: 2rem;
  padding: 1rem;
}

.w-70{
  width : 70%;
}

.error{
  color : #ff0000a6;
}

ul {
  list-style: none;
  padding: 0px;
}

li {
  display: inline;
}

ul li::after {
  content: " , ";
}

ul li:last-child::after {
    content: "";
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
